html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.skill {
  /*color: red !important;*/
}

.skill-appear {
  /*color: blue;
  transition: .2s ease color;*/
}

.skill-enter {
  /*color: green;
  transition: .2s ease color;*/
}

.skill-enter-active {
  /*color: green;
  transition: .2s ease color;*/
}
